body
{
  font-family: arial;
}

#container
{
  overflow: auto;
  resize: both;
  border: blue solid;
  width: 1000px;
  
  
  display: inline-grid;
  grid-template: 1fr 5fr / 1fr;
  gap: 100px;
  justify-items: center;
}

#container #section-header
{
  display: grid;
  grid-template: 3fr 2fr 1fr / 1fr;
  justify-items: center;
}

#container #section-library
{
  overflow: auto;
  resize: both;
  border: blue solid;
  display: grid;
  grid-template: repeat(auto-fit, minmax(200px, 1fr)) / repeat(auto-fit, minmax(150px, 1fr));
  height: 500px;
  width: 500px;
  gap: 10px;
  padding: 10px;
  
  /*  Grid Properties  */
  grid-row: 2 / 3;
  align-items: center;
}

.book
{
  border: red solid;
  width: 150px;
  height: 200px;
}